<!DOCTYPE html>
<html lang="en">

<head>
    <title>Словенска митологија</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    
    <link rel="stylesheet" href="{% static 'home/css/base_style.css' %}" type = "text/css"/>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
   
</head>


<body>
    <header>
                
                <center>
                    <h1> SLAVIC MYTHOLOGY </h1>
                </center>

                

                

                <nav>
                    <ul>
                        
                        <li><a href='/'>HOME </a></li> 
                        <li><a href='/gods/'>‖  GODS AND CREATURES </a></li> 
                        <li><a href='/tales/'>‖  TALES</a></li> 
                        <li><a href='/stories/'>‖   LEGENDS AND TRADITIONS</a></li>
                        <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
                        {% if user.is_authenticated %}
                        <li><a  class="auth" href="{% url "django.contrib.auth.views.logout" %}?next=/", style='text-decoration: none'>Logout</a></li>
                        <li><a  class="auth" href="#">‖     {{ user }}</a></li>
                        {% else %}
                        <li><a class="auth" href="/accounts/register/">Register</a></li>
                        <li><a class="auth"href="/accounts/login/">‖     Login</a></li>      
                        {% endif %}
                    
                    </ul>
                </nav>
                

            
        </header>

            </div>
               {% block content %}
               {% endblock %}   
            </div>
          
        <!-- </div>  -->
    
    
</body>

</html>